
modeloapp/__pycache__/*
/apps/categories/__pycache__/*
/apps/categories/migrations/*
/apps/categories/__pycache__/*
/apps/cliente/migrations/*
/apps/cliente/__pycache__/*
/apps/exercicio/migrations/*
/apps/exercicio/__pycache__/*
/apps/homepage/migrations/*
/apps/homepage/__pycache__/*
.env

__pycache__/
*.py[cod]
*.sqlite3
*.env


.vscode/


db.sqlite3

**/migrations/
!*/migrations/__init__.py