{% extends 'base.html' %}
{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}
<h2>Detalhes do Cliente</h2>
<ul class="list-group mt-4">
    <li class="list-group-item"><strong>Nome:</strong> {{ cliente.user.get_full_name }}</li>
    <li class="list-group-item"><strong>CPF:</strong> {{ cliente.cpf }}</li>
    <li class="list-group-item"><strong>Data de Nascimento:</strong> {{ cliente.data_nascimento }}</li>
    <li class="list-group-item"><strong>Objetivo:</strong> {{ cliente.objetivo }}</li>
</ul>
<a href="{% url 'cliente_list' %}" class="btn btn-primary mt-3">Voltar</a>
{% endblock %}